*.suo
vkquake.VC*
Misc/vq_pak/vkquake.pak
Quake/*.dll
Quake/*.o
Quake/history.txt
Quake/id1/
Quake/vkquake
Quake/vkQuake.exe
Quake/vkQuake.res
Windows/VisualStudio/Build-vkQuake/
Windows/VisualStudio/Id1
Shaders/Compiled/*spv
Shaders/bintoc.exe
Shaders/bintoc.obj
Windows/VisualStudio/.vs
/Windows/VisualStudio/history.txt
Debug
Release
AppImage/AppDir
AppImage/vkquake*.AppImage
.DS_Store
macOS/libs/*.dylib
macOS/Quake.app/Contents/libs/*.dylib
macOS/Quake.app/Contents/MacOS/vkquake
macOS/Quake.app/Contents/Resources/id1/*.pak
macOS/Quake.app/Contents/Resources/id1/music/*.wav
macOS/Quake.app/Contents/Resources/history.txt
macOS/Quake.app/Contents/Resources/id1/*.sav
.settings
.project
.cproject
